@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0c0c0c;
  --DarkAccent: #111111;
  --QuietText: #7e7a72;
  --Accent: #e4a85e;
  --BrightAccent: #f99d2b;
  --Text: #f5f2ec;
}

body {
  background-color: var(--background);
  max-height: screen;
  padding: 100px;

}

.plusButton{
  background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDgiIGhlaWdodD0iNDgiIHZpZXdCb3g9IjAgMCA0OCA0OCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3QgeD0iMC41IiB5PSIwLjUiIHdpZHRoPSI0NyIgaGVpZ2h0PSI0NyIgcng9IjIzLjUiIHN0cm9rZT0iI0Y1RjJFQyIvPgo8cGF0aCBkPSJNMTQuNSAyNEgzMy41IiBzdHJva2U9IiNGNUYyRUMiIHN0cm9rZS13aWR0aD0iMC45NDczNjgiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8cGF0aCBkPSJNMjQgMzMuNVYxNC41IiBzdHJva2U9IiNGNUYyRUMiIHN0cm9rZS13aWR0aD0iMC45NDczNjgiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K');
}

.minusButton{
  background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDgiIGhlaWdodD0iNDgiIHZpZXdCb3g9IjAgMCA0OCA0OCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3QgeD0iMC41IiB5PSIwLjUiIHdpZHRoPSI0NyIgaGVpZ2h0PSI0NyIgcng9IjIzLjUiIHN0cm9rZT0iI0Y1RjJFQyIvPgo8cGF0aCBkPSJNMTQuNSAyNEgzMy41IiBzdHJva2U9IiNGNUYyRUMiIHN0cm9rZS13aWR0aD0iMC45NDczNjgiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4=');
}

.H1 {
  font-family: Cruinn;
  font-weight: 300;
  font-size: 60px;
  line-height: 60px;
}

.H2 {
  font-family: Cruinn;

  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
}

.H3 {
  font-family: Cruinn;

  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
}

.H4 {
  font-family: Cruinn;

  font-weight: 600;
  font-size: 32px;
  line-height: 38.4px;
}

.H5 {
  font-family: Cruinn;

  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.H6 {
  font-family: Cruinn;

  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
}

.p1 {
  font-family: "Corsa Grotesk Regular";

  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}

.p2 {
  font-family: "Corsa Grotesk Regular";

  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

.p3 {
  font-family: "Corsa Grotesk Regular";

  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.p4 {
  font-family: "Corsa Grotesk Regular";

  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.p5 {
  font-family: "Corsa Grotesk Regular";

  font-size: 12px;
  font-weight: 400;
  line-height: 12%px;
}

.Accent {
  color: var(--Accent);
}

.Text {
  color: var(--Text);
}

/* button style */
.yellowButton {
  border-radius: 5px;
  background-color: var(--Accent);
  padding-top: 18px;
  padding-bottom: 22px;
  width: 100%;
  color: var(--background);
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
}

.yellowButton:hover{
    background-color: var(--BrightAccent);
}

.yellowButton:active{
    background-color: var(--BrightAccent);
}

.labelWrapper{
    border-width: 1px;
    border-color: var(--Accent);
    border-radius: 5px;
    padding-block: 12px;
    padding-inline: 16px;
    height: 48px;
}

/* input medium */
.input {
  background-color: var(--DarkAccent);
  padding: 20px;
  height: 68px;
  width: 100%;
  color: var(--Text);
  border-radius: 5px;
  vertical-align: top;
}

@media screen and (max-width: 700px) {
  .input {
    height: 58px;
  }

  .input::placeholder {
    font-size: 12px;
  }
  .yellowButton {
    padding-top: 10px;
    padding-bottom: 14px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }
}

.input::placeholder {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: var(--QuietText);
}

.input:focus {
  border-color: var(--Accent);
  outline: none;
  border-width: 1px;
}

.input:active {
  border-color: var(--Accent);
  outline: none;
  border-width: 1px;
}

.input:focus::placeholder {
  transform: translateY(-20px);
  font-size: 12px;
  line-height: 12px;
}

.check{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  
    border-radius: 4px;
    width: 16px;
    height: 16px;
  
    border: 2px solid #999;
    transition: 0.2s all linear;
    outline: none;
    margin-right: 4px;
  
}

.check:checked{
    border-color: var(--Accent);
    background-color: var(--Accent);
    
}

.radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border-radius: 50%;
  width: 16px;
  height: 16px;

  border: 2px solid #999;
  transition: 0.2s all linear;
  outline: none;
  margin-right: 4px;

}

.radio:checked {
    border: 8px solid var(--Accent)
}


/* Подключение шрифта Cruinn */
@font-face {
  font-family: "Cruinn";
  src: url("./Cruinn Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cruinn";
  src: url("./Cruinn Thin.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Cruinn";
  src: url("./Cruinn Light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Cruinn";
  src: url("./Cruinn Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Cruinn";
  src: url("./Cruinn Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cruinn";
  src: url("./Cruinn Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Nexa";
  src: url("./ofont.ru_Nexa Script.ttf") format("truetype");

  font-style: normal;
}

.speciall {
  color: var(--Accent);
  font-family: Nexa;
  font-weight: 400;
  font-size: 104px;
  line-height: 72px;
}
